## welcome to data science wednesday
### this is our no-experience-neccessary guided project

*the data* ~ **Video Game Sales with Ratings**

*features* ~

* **Name - The game's name**
* **Platform - Platform of the games release**
* **Year_of_Release - Year of the game's release**

* **Genre - Genre of the game**

* **Publisher - Publisher of the game**

* **NA_Sales - Sales in North America (in millions)**

* EU_Sales - Sales in Europe (in millions)

* JP_Sales - Sales in Japan (in millions)

* Other_Sales - Sales in the rest of the world (in millions)

* Global_Sales - Total worldwide sales (in millions)

* **Critic_score - Aggregate score compiled by Metacritic staff**

* Critic_count - The number of critics used in coming up with the critic score

* User_score - Score by Metacritic's subscribers

* User_count - Number of users who gave the user score

* Rating - The ESRB ratings


### first thing's first 
 
we have to get the data to do the thing

### actual first thing's first 

don't forget libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
video_game_sales = pd.read_csv('Video_Game_Sales_as_of_Jan_2017.csv')
video_game_sales.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN